{% extends 'base.html' %}
{% block content %}

     <nav class="navbar navbar-default">
  <div class="container-fluid">
       <div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'accounts:home' %}">HealthNet</a></li>
            <li><a style="color: inherit;" href="{% url 'accounts:update' %}">Update Info</a></li>
              <li><a style="color: inherit;" href={% url 'accounts:register' %}>Register</a></li>
              <li><a style="color: inherit;" href="{% url 'accounts:message' %}">Message</a></li>
              <li class="active"><a style="color: inherit;" href="{% url 'logger:view_daily_logs' %}">ActivityLog</a></li>

          </ul>
    </div>

    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          {% else %}
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>


    <table class="table table-condensed">
                <thead>
                    <tr>
                        <h1>Daily Logs</h1>
                    </tr>
                </thead>
                <tbody>
                   {% for log in logs %}
                       <tr>
                       <td> <a href="{% url 'logger:view_activities' log.id %}"><p style="font-size:20px">{{ log.Date }}</p></a></td>
                       </tr>
                    {% endfor %}
                </tbody>
    </table>

{% endblock %}